<h1>{{ name }}</h1>
<ul class="nav nav-tabs">
  <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
  <li><a href="#message_stream" data-toggle="tab">Message stream</a></li>
  <li><a href="#send_message" data-toggle="tab">Send message</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="details">
    <div class="row">
      {{#if publishers }}
      <div class="span3">
        <h3>Publishers</h3>
        <ul>
          {{#each publisher in publishers }}
          <li>{{ publisher }}</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
      {{#if subscribers }}
      <div class="span3">
        <h3>Subscribers</h3>
        <ul>
          {{#each subscriber in subscribers }}
          <li>{{ subscriber }}</li>
          {{/each}}
        </ul>
      </div>
      {{/if}}
    </div>
    <h3>Message type <small>{{ type }}</small></h3>
    <table class="table table-collapsable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {{#each field in messageDetails }}
          <tr {{ bindAttr class="field.indent field.hasChild" }} {{ bindAttr data-parent="field.parent" }} {{ bindAttr data-name="field.name" }}>
            <td>
                {{#if field.hasChild }}
                  <a href="#" {{action "messageExpand" on="click"}}><i class="icon-plus-sign"></i></a>
                {{/if}}
            {{ field.name }}
            </td>
            <td>{{ field.type }}{{#if field.isArray }}[{{#if field.arraylen }}{{ field.arraylen }}{{/if}}]{{/if}} {{field.val}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
  <div class="tab-pane" id="message_stream">
    <table class="table table-collapsable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {{#each field in messageStream }}
          <tr {{ bindAttr class="field.indent field.hasChild" }} {{ bindAttr data-parent="field.parent" }} {{ bindAttr data-name="field.name" }}>
            <td>
                {{#if field.hasChild }}
                  <a href="#" {{action "messageExpand" on="click"}}><i class="icon-minus-sign"></i></a>
                {{/if}}
            {{ field.name }}{{#if field.isArray }}[]{{/if}}
            </td>
            <td>{{ field.val }}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="tab-pane" id="send_message">
    <p>Howdy, I'm in Section 3.</p>
  </div>
</div>